// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row > div {
  border: 1px solid green;
}

.link-braces a {
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: colour 0.2s;
  transition: colour 0.2s;
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

.link-braces a::before {
  left: -0.1em;
  content: '[';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.link-braces a::before, .link-braces a::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.link-braces a::after {
  right: -0.1em;
  content: ']';
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.link-braces a:hover {
  color: #d04c3f;
}

.link-braces a:hover::before, .link-braces a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}