@import "typography";

@mixin subheading($width, $padding) {
  position: relative;
  padding-left: 10 + $padding + px;
  &:before {
    content: "";
    background-color: $colour-blue-deep;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width + px;
  }
}

$vertical-block-spacing: $vertical-unit * 4;

.bottom-spacing {
  margin-bottom: $vertical-block-spacing;
}

article {
  @extend %clearfix;
  border-bottom: 1px solid $colour-divider;
  padding-bottom: $vertical-block-spacing;

  %article-heading {
    @extend %heading;
    color: $colour-blue-light;
  }

  .article__heading-main {
    @extend %article-heading;
    @include subheading(12, 15);
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h2 {
    @extend %article-heading;
    @include subheading(3, 8);
    font-size: 1.2rem;
    margin-top: 0;
  }

  p {
    line-height: 1.6;
  }

  a {
    @extend .link;
  }

  ul {
    list-style: none;
    > li > a {
      @extend .link--arrow;
    }
  }

}

.article__aside {
  background-color: $colour-red-mid;
  padding: 15px;
  @include respond-to($mq-small) {
    float: right;
    margin-left: 15px;
  }
}

.article__image {
  width: 100%;
  @include respond-to($mq-small) {
    width: 35%;
  }
  img {
    @include transition-color(border-color, 0.2s);
    border: 4px solid $colour-red-mid;
    display: block;
    width: 100%;
    &:hover, &:focus {
      border-color: $colour-yellow;
    }
  }
}

.article__image--side-xs {
  float: right;
  margin-left: 20px;
  width: 35%;
}

.article__image--small {
  @include respond-to($mq-small) {
    float: right;
    margin-left: 20px;
  }
}

.article__date-published {
  font-size: 0.8rem;
  font-style: italic;
}

.article__is-published {
  margin-right: 10px;
}

.article__url {
  margin-bottom: $vertical-unit * 2;
}

.article__code {
  color: $colour-yellow-light;
  margin-left: 40px;
}