@import "colours";

.header {
  background-color: $colour-red-purple;
  padding-top: $vertical-unit * 6;
  margin-bottom: $vertical-unit * 6;
  padding-bottom: $vertical-unit * 6;
}

.header__logo {
  @extend %heading;
  color: $colour-brown;
  font-size: 2.5em;
  line-height: 1;
  text-transform: uppercase;
}

.header__name {
  display: block;
  margin-right: 30px;
  margin-bottom: 10px;
  @include respond-to($mq-small) {
    display: inline;
    margin: 0;
  }
}

.header__job-title {
  color: $colour-brown-darkest;
  display: inline-block;
  font-size: 0.8em;
  text-transform: none;
  line-height: 1.2;
}

.header__strip {
  background-color: $colour-off-white;
}